// .container {
//   height: 250;
//   width: 350;
//   border: red solid 2px;
//   overflow: hidden;
// }

// .img {
//   overflow: hidden;
//   height: 250;
//   width: 350;
//   object-fit: contain;
// }

.myfirst {
  margin-left: 5px;
  // display: flex;
  // flex-direction: column;
  // flex: wrap;
  // padding-top: 4rem;
}

.container {
  // float: left;
  height: 196.5px; // does nothing
  width: 202px; // does nothing 
  // margin-bottom: 10px;
  // margin-left: 10px;
  // margin-right: 1rem;
  // display: flex;
  // flex-direction: column;
}

.img {
  object-fit: cover;
  object-position: center;
  
  float: left;
  // height: 250px;
  // width: 150px;

  // aspect radio 16:9
  height: 320px;
  width: 180px;

  // fit screen
  // 414 / 736 = 0.5625
  // 4:3 w/ margins ? 
  height: 232.75px;
  width: 175px;

  // 16:9 w/ margins
  // height: 369.25px;
  // width: 175px;

  // Adjusted - eyeballed 
  height: 232.75px;  // is there css cmd to shrink img by 25% ? 
  width: 192px; // <--- BEST ONE

  height: 232.75px; // <---- make them one row
  height: 186.5px; // <---- BEST ONE
  // height: 160px; // <---- make them one row <---
  // width: 394px;    // <---- make them one row <--- YES YES =) 
  margin-right: 10px;
  margin-bottom: 10px;

  // center
  // default should be centered 
  // object-position: 
}

.lazyload {
  width: 192px;
  height: 186.5px;
  margin-bottom: 10px;
}

.btn {
  background: none;
	color: inherit;
	border: none;
  outline: none;
  // user-select: none;
	padding: 0;
  margin: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  width: inherit;
  // height: 232.75px;  // is there css cmd to shrink img by 25% ? 
  width: 192px;  // <--- img overlap for margins/clicks
  height: 186.5px;
  margin-right: 10px;
  margin-bottom: 10px;
  -webkit-tap-highlight-color: transparent; /* transparent with keyword */
}
:focus {
  outline: none !important;
}
.above-expander {
  background-color: lightpink;
}
.expander {
  // if artist statement = null, then change height style to smaller value  
  border-color: 2px darkgray;
  height: 200px;
  height: 300px; 
  width: 300; // 180px;
  background-color: lightgray;
  margin: 0;
}
.ul {
  height: 190px;
  width: 394px;
  background-color: lightpink;
}
.like {
  position: absolute; 
  top: 6px;
  left: 160px;
  width: 24px;
  height: 24px;
  z-index: 10;
}

.btn-wrapper { // original 404 x 200.5
 // width: 192px;
 height: 186.5px; 
}

.filter-white {
  // Pick output colour --> https://codepen.io/sosuke/pen/Pjoqqp
  // https://stackoverflow.com/questions/22252472/how-to-change-the-color-of-an-svg-element
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(183deg) brightness(102%) contrast(101%);
}

// .container {
//   position: relative;
//   display: inline-block;
// }
// .button {
//   padding: 0;
//   width: 50px;
//   border: 0;
//   background-color: #fff;
//   color: #333;
//   cursor: pointer;
//   outline: 0;
//   font-size: 40px;
// }

// .dropdown {
//   position: absolute;
//   top: 100%;
//   left: 0;
//   width: 300px;
//   z-index: 2;
//   border: 1px solid rgba(0, 0, 0, 0.04);
//   box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
//   background-color: #eee;
//   background-color: white;
// }

// ul {
//   list-style: none;
//   padding: 0;
//   margin: 0;
// }
// li {
//   padding: 8px 12px;
// }

// li:hover {
//   background-color: rgba(0, 0, 0, 0.14);
//   cursor: pointer;
// }


