.search {
  background-color: rgb(255, 255, 255);
  // https://developer.mozilla.org/en-US/docs/Web/CSS/position
  position: fixed;
  // position: -webkit-sticky;
  // position: sticky;
  // position: sticky; // occupies the space
  top: 0;
}