.search {
  background-color: rgb(255, 255, 255);
  // https://developer.mozilla.org/en-US/docs/Web/CSS/position
  // position: fixed;
  // position: -webkit-sticky;
  position: sticky;
  // position: sticky; // occupies the space
  top: 0;
  width: 100vw;
  // height: inherit;
  height: 40px;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  //border-color: 1px gray;
  border-bottom: 2px solid lightgrey;
  // border-top: 2px solid lightgrey;
  // border: 2px solid lightgrey;
  // border-radius: 7px;   // only if it can be a map overlay
  z-index: 9999;
  
  &__form {
    padding-right: .1rem;
   // padding-top: 0.4rem;   // height 30px 
  //padding: 0.4rem;
    // &-neighbourhood {
    //   padding: ;
    // }
  }
  &__input {
    width: 11rem;
    padding-right: 1rem;
  }
  &__btn {
    padding-right: 1rem;
  }
}

.hide {
  display: none;
}

.search-icon {
  height: 24px;
  width: 24px;
}

.search-input {
  width: 180px;
}

.medium {
  width: 44px;
}