// .container {
//   height: 250;
//   width: 350;
//   border: red solid 2px;
//   overflow: hidden;
// }

// .img {
//   overflow: hidden;
//   height: 250;
//   width: 350;
//   object-fit: contain;
// }

.myfirst {
  margin-left: 5px;
  // display: flex;
  // flex-direction: column;
  // flex: wrap;
  // padding-top: 4rem;
}

.container {
  // float: left;
  // height: 250px;
  // width: 300px;
  // margin-left: 10px; <--- ?
  // margin-right: 1rem;
  // display: flex;
  // flex-direction: column;
}

.img {
  object-fit: cover;
  object-position: center;
  
  float: left;
  // height: 250px;
  // width: 150px;

  // aspect radio 16:9
  height: 320px;
  width: 180px;

  // fit screen
  // 414 / 736 = 0.5625
  // 4:3 w/ margins ? 
  height: 232.75px;
  width: 175px;

  // 16:9 w/ margins
  // height: 369.25px;
  // width: 175px;

  // Adjusted - eyeballed 
  height: 232.75px;  // is there css cmd to shrink img by 25% ? 
  width: 192px;
  
  height: 232.75px; // <---- make them one row
  height: 186.5px; // <---- make them one row
  // height: 160px; // <---- make them one row <---
  // width: 394px;    // <---- make them one row <--- YES YES =) 
  margin-right: 10px;
  margin-bottom: 10px;

  // center
  // default should be centered 
  // object-position: 
}

.btn {
  background: none;
	color: inherit;
	border: none;
	padding: 0;

  margin: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  width: inherit;
  // height: 232.75px;  // is there css cmd to shrink img by 25% ? 
  width: 192px;  // <--- img overlap for margins/clicks
  height: 186.5px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.expander {
  border-color: 2px darkgray;
  height: 200px;
  width: 180px;
}


// .container {
//   position: relative;
//   display: inline-block;
// }
// .button {
//   padding: 0;
//   width: 50px;
//   border: 0;
//   background-color: #fff;
//   color: #333;
//   cursor: pointer;
//   outline: 0;
//   font-size: 40px;
// }

// .dropdown {
//   position: absolute;
//   top: 100%;
//   left: 0;
//   width: 300px;
//   z-index: 2;
//   border: 1px solid rgba(0, 0, 0, 0.04);
//   box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
//   background-color: #eee;
//   background-color: white;
// }

// ul {
//   list-style: none;
//   padding: 0;
//   margin: 0;
// }
// li {
//   padding: 8px 12px;
// }

// li:hover {
//   background-color: rgba(0, 0, 0, 0.14);
//   cursor: pointer;
// }


// 	font: inherit;
// 	cursor: pointer;
// 	outline: inherit;

