.details {
	margin-bottom: 8rem;
	&__card {
		width: 40rem;
		margin: 0 auto;
		box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
		border-radius: 0.7rem;
		padding-bottom: 1rem;
		margin-top: 1rem;
	}
	&__img {
		object-fit: cover;
		object-position: center;
		width: 40rem;
		height: 36rem;
		border-radius: 0.7rem 0.7rem 0 0;
	}
	&__top {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-left: 1rem;
		padding-right: 1.5rem;
		&-links {
			padding-top: 0.5rem;
		}
	}
	&__title {
		font-weight: 600;
	}
	&__artists-names {
		font-style: italic;
	}
	&__line {
		border-top: 0.1rem solid darkgray;
		margin-bottom: 0.5rem;
	}
	&__bottom {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}
.bold {
	font-weight: 600;
}
