.gallery {
	display: flex;
	flex-direction: column;
	width: 41.4rem;
	&__pairs-wrapper {
		margin-bottom: 1rem;
	}
	&__img {
		&-buttons-container {
			height: 18.65rem;
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
		}
		&-button {
			display: flex;
			justify-content: flex-end;
			background: none;
			color: inherit;
			border: none;
			outline: none;
			padding: 0;
			margin: 0;
			-webkit-tap-highlight-color: transparent;
		}
		&-lazyload {
			width: 19.2rem;
			height: 18.65rem;
			margin-bottom: 1rem;
		}
		&-img {
			object-fit: cover;
			object-position: center;
			float: left;
			width: 19.2rem;
			height: 18.65rem;
			border-radius: 0.7rem;
			box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.25);
		}
	}
	&__like-icon {
		transform: translate(8.4rem, -19.9rem);
		transform: translate(7.4rem, -18.9rem);
		width: 2.4rem;
		z-index: 500;
	}
}
.expander {
	border-color: 0.2rem darkgray;
	height: 20.9rem;
	margin: 0;
	&__arrow-down {
		width: 0;
		height: 0;
		border-left: 1.3rem solid transparent;
		border-right: 1.3rem solid transparent;
		border-top: 1.3rem solid rgb(222, 221, 221);
		margin-top: 0.3rem;
	}
}
.expander__right {
  height: 19.1rem;
	width: 38.8rem;
	overflow: hidden;
	width: 39.4rem;
	margin: 0 auto;
	box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.25);
	border-radius: 0.7rem;
	margin-bottom: 1rem;
	&-top {
    display: flex;
		flex-direction: row;
		justify-content: space-between;
		background-color: white;
		padding-left: 1rem;
		padding-right: 0.5rem;
	}
	&-artist-statement {
    padding-left: 1rem;
		padding-right: 1rem;
		padding-top: 0.5rem;
		border-top: 0.1rem solid darkgray;
	}
	&-title {
    margin-top: 0.5rem;
		font-weight: 600;
		font-size: 1.8rem;
		line-height: 22px;
	}
	&-text {
    font-weight: 400;
		font-size: 1.4rem;
	}
	&-links {
    display: flex;
		flex-direction: row;
		margin-bottom: 3rem;
		margin-top: 0.7rem;
	}
}
// .expander__ul-left {
// 	height: 19rem;
// 	width: 38.8rem;
// 	background-color: rgb(239, 239, 239);
// 	margin-left: 1.3rem;
// 	margin-right: 1.3rem;
// }
.left-arrow {
	margin-left: 1.6rem;
}
.right-arrow {
	margin-left: 37.1rem;
}
.button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	margin-left: 1rem;
	margin-right: 1rem;
}
.italic {
	font-style: italic;
}
:focus {
	outline: none !important;
}
