.login {
  // background-color: #f8e5ff;
  background-image: url("../assets/background/pink-sky.jpg");
  background-size: cover;
  height: 736px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
  }
  &__title-welcome {
    font-weight: 400;
    font-size: 3.2rem;
    font-size: 2.8rem;
    margin-bottom: 35px;
    color: #8140a6;
    // font-family: 'Indie Flower', cursive;
    font-family: 'Rock Salt', cursive;
    // font-family: 'Permanent Marker', cursive;
    //font-family: 'Gamja Flower', cursive;
    font-weight: bold;
    font-weight: bolder;
  }
  &__title-logo {
    font-weight: 400;
    font-size: 5.2rem;
    margin-bottom: 30px;
    padding-top: 10px;
    color: #8140a6; 
    // font-family: 'Indie Flower', cursive;
    font-family: 'Rock Salt', cursive;
    // font-family: 'Permanent Marker', cursive;
    //font-family: 'Gamja Flower', cursive;
    font-weight: bold;
  }
  &__form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
    margin-top: 60px;
    width: 300px;
    height: 340px;
    border-radius: 9px;
  }
  &__sign-in {
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: #8C55AA;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__input {
    width: 85%;
    height: 4rem;
    color: rgb(31, 96, 125);
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    background: rgba(136, 126, 126, 0.04);
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 2rem;
    outline: none;
    box-sizing: border-box;
    border: 0.2rem solid rgba(0, 0, 0, 0.02);
    margin-bottom: 5rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Titillium Web', sans-serif;
  }
  &__btn {
    cursor: pointer;
    border-radius: 5rem;
    color: #fff;
    background: linear-gradient(to right, #d264e5, #dc53f5);
    border: 0;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    width: 150px;
    margin: 0 auto;
    font-size: 1.3rem;
    box-shadow: 0 0 2rem .1rem rgba(0, 0, 0, 0.04);
    margin-top: 2rem;
  }
}
.new-user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Titillium Web', sans-serif;
  color: #8C55AA;
  margin-top: 2.5rem;
  &__title::after{
    content: " ";
    white-space: pre;
  }
  &__title {
    font-weight: 600;
  }
  &__sign-up {
    font-family: 'Titillium Web', sans-serif;
    color: #8C55AA;
    font-weight: 600;
  }
}

input:focus, input:active {
  background: rgba(0,0,0,0.03);
}

input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}

button:active {
-webkit-tap-highlight-color: transparent;
color: #8140a6;
box-shadow: 0.1rem 0.1rem 0.1rem 0 rgba(0,0,0,0.2) ;
}

// Change Autocomplete Styles in WebKit Browsers (Autofill)
// https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/

