.login {
	background-image: url("../assets/background/pink-sky.jpg");
	background-size: cover;
	height: 73.6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 0.7rem;
	}
	&__title {
		&-welcome {
			font-size: 2.8rem;
			font-family: "Rock Salt", cursive;
			font-weight: bolder;
			color: #8140a6;
			margin-bottom: 3.5rem;
		}
		&-logo {
			font-size: 5.2rem;
			font-family: "Rock Salt", cursive;
			font-weight: bold;
			color: #8140a6;
			margin-bottom: 3rem;
			padding-top: 1rem;
		}
	}
	&__form {
		display: flex;
		flex-direction: column;
		&-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-color: rgb(255, 255, 255);
			margin-bottom: 3rem;
			margin-top: 6rem;
			width: 30rem;
			height: 34rem;
			border-radius: 0.9rem;
		}
	}
	&__sign-in {
		display: flex;
		align-items: center;
		color: #8c55aa;
		font-family: "Titillium Web", sans-serif;
		font-weight: bold;
		font-size: 1.8rem;
		margin: 0 auto;
		margin-bottom: 2rem;
	}
	&__input {
		width: 85%;
		height: 4rem;
		background: rgba(136, 126, 126, 0.04);
		color: rgb(31, 96, 125);
		font-family: "Titillium Web", sans-serif;
		font-weight: 400;
		font-size: 1.4rem;
		letter-spacing: 0.1rem;
		text-align: center;
		border-radius: 2rem;
		outline: none;
		box-sizing: border-box;
		border: 0.2rem solid rgba(0, 0, 0, 0.02);
		margin: 0 auto;
		margin-bottom: 2.7rem;
		padding: 0.8rem 1.5rem;
	}
	&__btn {
		cursor: pointer;
		border-radius: 5rem;
		color: #fff;
		background: linear-gradient(to right, #d264e5, #dc53f5);
		border: 0;
		font-family: "Titillium Web", sans-serif;
		font-weight: 600;
		width: 15rem;
		font-size: 1.3rem;
		box-shadow: 0 0 2rem 0.1rem rgba(0, 0, 0, 0.04);
		padding: 1rem 4rem 1rem 4rem;
		margin: 0 auto;
		margin-top: 2rem;
	}
}
.new-user {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-family: "Titillium Web", sans-serif;
	color: #8c55aa;
	margin-top: 2.5rem;
	&__title::after {
		content: " ";
		white-space: pre;
	}
	&__title {
		font-weight: 500;
	}
	&__sign-up {
		font-weight: 600;
		font-family: "Titillium Web", sans-serif;
		color: #8c55aa;
	}
}
input:focus,
input:active {
	background: rgba(0, 0, 0, 0.03);
}
input:-webkit-autofill {
	transition: background-color 5000s ease-in-out 0s;
}
button:active {
	-webkit-tap-highlight-color: transparent;
	color: #8140a6;
	box-shadow: 0.1rem 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.2);
}
