.about {
	background-image: url("../assets/background/pink-sky.jpg");
	height: 70rem;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20rem;
	&__name {
		font-weight: 600;
		font-size: 4rem;
		padding-top: 13rem;
		margin-top: 0;
		margin-bottom: 4rem;
	}
	&__link {
		text-decoration: underline;
		display: flex;
		margin-bottom: 1rem;
		color: #8140a6;
		&-container {
			margin-bottom: 7rem;
		}
	}
	&__icon {
		text-decoration: underline;
		display: flex;
		margin-bottom: 1rem;
		margin-right: 0.7rem;
	}
	&__text {
		font-weight: 500;
		font-size: 1.5rem;
		margin-top: 0.5rem;
	}
	&__farewell {
		margin-top: 5rem;
		margin-bottom: 5rem;
		font-family: "Rock Salt", cursive;
		color: #8140a6;
		&-mesg {
			margin: 0;
			font-weight: 500;
			font-size: 2rem;
			margin-top: 0.5rem;
		}
	}
}
