a {
  color: black;
}
// * {
//   border: 1px dashed lightgrey;
//   box-sizing: border-box;
// }
.art-work {
  // &__container {
  // }
  // &__link {
  //   color: black;
  // }
  &__li {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    &-card {
     // background-color: rgb(237, 237, 237);
      display: flex;
      align-items: center;
      flex-direction: column;

      border: 1px solid darkgray;
      // border-radius: 10px;
      //overflow: hidden;
      padding: 1rem;
      margin-top: 0.5rem;
      
      &__top {
        display: flex;
      }
      &__left {
        margin-right: 5rem;
      }
    }
      // flex-direction: row;
      // }
      // &__right { }
  }
  &__icon {
    width: 2.4rem;
  }
  &__photo {
    //display: flex;
    // width: 100%;
    // height: 100%;
    // object-fit: cover; /*magic*/
    // align-items: center;
    // justify-content: center;
    object-fit: cover;
    object-position: center;
  
    max-width: 38rem;  // <-- works
    max-height: 28rem;
    margin: 0 auto;    // <-- works

    &-container {
      //width: 380px; /*any size*/
      // height: 200px; /*any size*/
      object-fit: cover;
      object-position: center;
    }
  }
}





