// .map {

// }
.leaflet-container {
  width: 100%;
  // height: 85.3vh; // with TopNav
  // height: 90.5vh;
  height: 85vh; // <--------------------- correct for </Search>
  height: 90vh; // <--------------------- correct for </Search>
  //height: 500px; // can set height 
 // height: 630px;
}
// try bottom bar as an overlay, 
// map is 100% of window
// make a sandwitch where each layer is defined

.btn {
  z-index: 1001;
}

// .bottom-nav__container {
// z-index: 2000;
// }

.map__container {
  height: 200px;
}


.img {
  object-fit: cover;
  object-position: center;
  margin-top: 10px;
  height: 150px;
  width: 250px;
}

.popup {
  display: flex;
  flex-direction: column;
  // height: 291px;
  // width: 254px;
}

.popup-inside {
  // title/artist + icon 
  margin-top: 10px;
  width: 250px;  // -24x24 icon -10 -10 padding

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

// .popup-inside-headings {
//   width: 200px;
// }
// .popup-inside-icons {
//   width: 50px;
// }

.icon {
  // height: 24px;
  // width: 24px;
  // margin-top: 10px;
  // padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

.sidebar {
  height: 168px; // 24px * 7 icons
  width: 24px; 
}

.floating__container {
  background-color: lightgray;
  margin-left: 100px;
  position: absolute; 
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 35px;
  margin-left: 210px;
  margin-top: 10px;
}
.floating__icon {
  // margin-left: 100px;
  height: 24px;
  width: 24px;
  // position: absolute; 
  // z-index: 1000;
  border: black 1px;
}

.floating__button {

}

.floating-search {
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    z-index: 988888889;
     position: absolute;
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    position: absolute;
  }
}

.floating__heart-btn {
  height: 30px;
  width: 30px;
  background-color: white;
}



// ------ attribution ----- // 

// .leaflet-control-attribution {
//   width: 180px;
// }

// .leaflet-control {
//   width: 300px;
// }

// #text {
//   visibility: hidden;
// }