.login {
  background-color: lightgray;
  height: 666px;
  display: flex;
  // align-content: center;
  justify-content: center;
  &__container {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    // align-content: center;
  }
  &__title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 5rem;
    
    &-top {
      font-weight: 600;
      font-size: 3.2rem;
    }
    &-sub {
      color: slategray;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__email {
    margin-top: 5px;
    margin-bottom: 5px;
    &-label {
    margin-top: 5px;
    font-weight: 400;
    font-size: 1.5rem;
    }
  }
  &__password {
    margin-top: 5px;
    margin-bottom: 5px;
    &-label {
    margin-top: 5px;
    font-weight: 400;
    font-size: 1.5rem;
    }
  }
  &__btn-container {
    display: flex;
    // align-items: center;
    justify-content: center;
  }
}
.login__btn {
  width: 200px;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.or {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.forgot {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.new-user {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

