.base___1kMjI {
	max-width: 640px;
}
.cardNumber___rXhJW span {
	margin: 0 6px;
	font-size: 10px;
}
.successTitle___mhXis {
	margin-top: -0.8rem;
}
.wrapper___1LUJE {
	max-width: 343px;
}
.total___3OlL6 {
	font-size: 2.2rem;
}
.dotted___3TrgX {
	margin-bottom: 0.3em;
	flex-grow: 1;
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 33%, #fff 0);
	background-position: bottom;
	background-size: 3px 1px;
	background-repeat: repeat-x;
}
.overlayImageBlock___2AQ9O {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	overflow: hidden;
}
.staticMap___UgO1V {
	border-radius: 5px;
	width: 100%;
	height: 120px;
}
.overlayPickupOption___16Rwq {
	border-radius: 8px;
	background: #f7f7f7;
}
.iconWrapper___2tfUj {
	flex: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
}
.maskBannerContainer___Kaydn {
	margin: auto -18px;
}
@media (min-width: 480px) {
	.maskBannerContainer___Kaydn {
		margin: auto 0;
	}
}
.emptyStateContainer___1fSxr {
	max-width: 328px;
	margin-top: 4.8rem;
	margin-left: 1.6rem;
	margin-right: 1.6rem;
}
.textCapitalize___2cG9B {
	text-transform: capitalize;
}
.greenCardContainer___1XFav {
	flex-wrap: wrap;
}
.products___77EWb {
	overflow: hidden;
}
.results___2dDf1 {
	overflow: auto;
}
.breadcrumbs___h6PeO {
	padding-bottom: 18px;
}
.greenCardMenu___Wr5li,
.greenCardStream___2tf_N {
	padding: 20px 0 20px 16px;
	border-radius: 5px;
	margin-bottom: 8px;
	min-height: 105px;
}
.greenCardStream___2tf_N {
	width: calc(50% - 4px);
}
.greenCardMenu___Wr5li {
	width: calc(50% - 8px);
	max-width: 195px;
}
.textBlock___2W85e {
	width: 100%;
	max-width: 90px;
}
.imageIcon___3lkgm {
	max-width: 65px;
	max-height: 100%;
	bottom: 0;
	right: -18px;
}
.header___1G9FL {
	width: 100%;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
}
.stepCount___2L8NZ {
	padding: 7px 0;
}
.productsResetPadding___W2OBk {
	padding-top: 152px;
}
.prodTile___17bou {
	display: block;
	width: 100%;
	vertical-align: middle;
}
.prodTileImageBlock___3yeih {
	max-width: 148px;
	margin: 0 auto;
}
.prodTile__body___wTTGD,
.prodTileImageBlock___3yeih {
	display: block;
	vertical-align: top;
}
.imageBlock___2UXH- {
	z-index: 0;
	border-radius: 50%;
	overflow: hidden;
	width: 100%;
}
.detailsCardWrapper___1F2RO {
	position: absolute !important;
	left: 0;
	top: 72px;
	width: 100%;
	max-width: 345px;
	z-index: 1;
}
.detailsCard___3p3qf:before {
	top: -14px;
	left: 142px;
	border-width: 0 15px 15px;
}
.detailsCard___3p3qf.sweet___3u9P5:before {
	left: 290px;
}
.detailsCardContent___1eF7t {
	margin-bottom: -32px;
}
.backButton___1sA_g {
	padding-top: 10px;
	padding-bottom: 10px;
}
.chevron___3lEUg {
	cursor: pointer;
}
@media (max-width: 370px) {
	.greenCardDiscover___1S0Dg,
	.greenCardStream___2tf_N {
		min-height: 125px;
	}
	.imageIcon___3lkgm {
		right: -25px;
	}
	.textBlock___2W85e {
		max-width: 75px;
	}
	.detailsCardWrapper___1F2RO {
		top: 90px;
	}
	.detailsCard___3p3qf:before {
		left: 142px;
	}
	.detailsCard___3p3qf.sweet___3u9P5:before {
		left: 248px;
	}
}
@media (min-width: 768px) {
	.imageIcon___3lkgm {
		right: 10px;
	}
	.productsResetPadding___W2OBk {
		padding-top: 120px;
	}
	.measurement___1yJ9w {
		height: auto;
	}
	.detailsCardWrapper___1F2RO {
		left: 30px;
	}
	.detailsCard___3p3qf:before {
		left: 122px;
	}
	.detailsCard___3p3qf.sweet___3u9P5:before {
		left: 284px;
	}
}
@media (min-width: 1024px) {
	.menuCardContainer___1lIql {
		margin-top: -32px;
	}
	.header___1G9FL {
		width: 100%;
		position: -webkit-sticky;
		position: sticky;
		top: 101px;
		z-index: 1;
	}
	.products___77EWb {
		flex: 1 1 0;
	}
	.detailsCard___3p3qf:before,
	.detailsCardWrapper___1F2RO {
		left: 100px;
	}
	.detailsCard___3p3qf.sweet___3u9P5:before {
		left: 286px;
	}
}
.caret___2O3vt {
	transition-timing-function: ease-in-out;
	transition-duration: 0.25s;
}
.clickable___2P_sn:hover {
	cursor: pointer;
}
.expanded___3Ay_F {
	transform: rotate(180deg);
}
.button___3lFew:hover {
	background-color: color(#edebe9 alpha(25%));
}
.card___3EF5k {
	background-color: #fff;
	border-radius: 12px;
	box-shadow: 0 0 0.5px 0 rgba(0, 0, 0, 0.14), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
	overflow: hidden;
}
.image___1HgXt {
	-o-object-fit: cover;
	object-fit: cover;
}
.root___387f3 {
	padding-top: 1.6rem;
	padding-left: 0.8rem;
	padding-right: 0.8rem;
}
.message___3bV_N {
	min-height: 5rem;
}
.noSlideCarousel___1rZwl > div {
	transform: translateZ(0) !important;
}
@media (min-width: 1024px) {
	.root___387f3 {
		max-width: 500px;
	}
}
.card___2PdS3 {
	min-height: 96px;
}
.card___2PdS3 > div:last-child {
	display: flex;
	flex-direction: column;
}
.onboardingCardImage___3J0yy {
	min-width: 25%;
}
.cardCompleteContent___VoxTK {
	flex-direction: row !important;
	align-items: center;
	height: 100%;
	width: 100%;
}
.completeImage___1w1y5 {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	background-color: #008248;
	min-width: 25%;
}
@media (min-width: 1024px) {
	.card___2PdS3 {
		height: 120px;
	}
	.onboardingCardImage___3J0yy {
		min-width: 35%;
	}
}
.partyPopper___2yKBh {
	min-width: 80px !important;
	max-width: 80px !important;
}
@media (max-width: 479px) {
	.partyPopper___2yKBh {
		min-width: 72px !important;
		max-width: 72px !important;
	}
}
.marginAuto___3-3IN {
	margin: auto;
}
.addUsualToCartWrapper___3EbyP {
	cursor: pointer;
	position: relative;
}
.usualImageWrapper___3yP8c {
	border-radius: 50%;
	padding-top: 100%;
}
.usualImage___2Prcd {
	width: 100%;
}
.addUsualToCartIcon___3PcSz {
	position: absolute;
	bottom: 3px;
	right: 11px;
	border-radius: 100%;
}
.usualLabel___50c6V {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 1.5em;
	max-height: 4.5em;
}
.recommendationsImage___casjj {
	border-radius: 50%;
	margin: auto;
	padding-top: 100%;
}
.slideText___3MJ_O {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.tooltipContainer___3oe42 {
	z-index: 2;
	max-width: 345px;
	top: 60px;
	left: 0;
}
.tooltip___1Sj56:before {
	top: -14px;
	left: 150px;
	border-width: 0 15px 15px;
}
.tooltip___1Sj56 {
	padding-bottom: 0.4rem !important;
}
.tooltipContent___3Sheo {
	margin-bottom: -32px;
}
.cursorPointer___2otoM {
	cursor: pointer;
}
.heading___sLtM8 {
	display: inline;
}
@media (min-width: 768px) {
	.tooltip___1Sj56:before {
		left: 180px;
	}
}
.container___3MVpB {
	text-decoration: none;
	padding: 12px 8px;
}
.checkInContainer___3oFYO {
	background: #fff;
	border-radius: 12px;
	box-shadow: 0 0 0.5px 0 rgba(0, 0, 0, 0.14), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}
.imageWrapper___3lAvU {
	flex: none;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #d4e9e2;
	border-radius: 50%;
	width: 48px;
	height: 48px;
}
.closedBanner___BS14q {
	background: #fff;
	border-radius: 10px;
}
.closedBannerIcon___33Kcj {
	border-radius: 50%;
	color: rgba(0, 0, 0, 0.56);
	padding: 10px;
}
.newLabel___96dQn {
	background-color: #00653e;
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: 11px;
	font-weight: 700;
	margin-left: 8px;
	margin-bottom: 2px;
	padding: 1px 4px;
}
.content___13faz {
	min-height: 100vh;
}
.loadingOverlay___2Pb7H {
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0.7;
	position: absolute;
	z-index: 3;
	left: 0;
}
/*# sourceMappingURL=coreApp.d8e4546246eab317eb18.css.map */
